* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

@import "tailwindcss";

@theme {
    --font-messiri: 'El Messiri', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-inria: 'Inria Sans', sans-serif;
    
    --color-earth-100: oklch(95.88% 0.0086 84.57);
    --color-earth-200: oklch(89.44% 0.025 91.63);
    --color-earth-300: oklch(81.41% 0.0434 92.25);
    --color-earth-400: oklch(73.8% 0.0599 89.63);
    --color-earth-500: oklch(71.21% 0.0593 81.68);
    --color-earth-600: oklch(57.54% 0.0636 63.46);
    --color-earth-700: oklch(53.63% 0.0609 53.3);
    --color-earth-800: oklch(45.64% 0.0533 47.51);
    --color-earth-900: oklch(36.76% 0.0386 56.73);

    --color-navy-50: oklch(95.43% 0.014 264.50);
    --color-navy-100: oklch(88.67% 0.0355 264.38);
    --color-navy-200: oklch(78.54% 0.0699 246.77);
    --color-navy-300: oklch(71.11% 0.1058 251.51);
    --color-navy-400: oklch(64.69% 0.1332 262.88);
    --color-navy-500: oklch(48.45% 0.172 272.39);
    --color-navy-600: oklch(42.54% 0.1525 273.45);
    --color-navy-700: oklch(34.81% 0.1342 278.99);
    --color-navy-800: oklch(28.5% 0.0929 274.72);
    --color-navy-900: oklch(23.16% 0.0506 266.11);

    --color-cgray-100: oklch(92.1% 0.0111 211.04);
    --color-cgray-200: oklch(82.18% 0.0184 214.4);
    --color-cgray-300: oklch(68.02% 0.0255 209.82);
    --color-cgray-400: oklch(52.34% 0.0246 211.13);
    --color-cgray-500: oklch(41.35% 0.023 208.79);
    --color-wgray-100: oklch(92.28% 0.0116 84.58);
    --color-wgray-200: oklch(82.35% 0.0188 78.22);
    --color-wgray-300: oklch(68.26% 0.0265 83.4);
    --color-wgray-400: oklch(50.95% 0.0264 84.56);
    --color-wgray-500: oklch(41.54% 0.0242 84.53);

    --color-gold-100: oklch(97.78% 0.0239 85.79);
    --color-gold-200: oklch(96.76% 0.0673 99.32);
    --color-gold-300: oklch(91.43% 0.0877 90.36);
    --color-gold-400: oklch(87.9% 0.1226 85.22);
    --color-gold-500: oklch(80.73% 0.168 76.75);
    --color-gold-600: oklch(73.82% 0.1508 77.63);
    --color-gold-700: oklch(62.96% 0.1297 77.34);
    --color-gold-800: oklch(50.68% 0.0981 80.4);
    --color-gold-900: oklch(31.26% 0.0636 81.58);
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      -moz-appearance: textfield !important;
      appearance: none;
      margin: 0;
    }
 }